

/* BUTTONS */

.button {
    font-family: 'Cinzel', serif;
    font-weight:700;
}

.button a {
    display:block;
    padding:12px 24px 10px;
    border:1px solid var(--primary);
    color: var(--primary);
    background-color:#222C;
    text-decoration: none;
    cursor:pointer;
    transition:500ms;
}

.button.hug a {
    display:inline-block;
}

.button a:hover, .button.lit a {
    background-color:var(--primary);
    color:var(--gray-900);
}

.button.secondary a {
    border-color: var(--gray-100);
    color:var(--gray-100);
}

.button.lit a:hover, .button.secondary a:hover {
    background-color: var(--gray-100);
    border-color: var(--gray-100);
    color:var(--gray-900);
}

.button.small {
    font-size:0.8em;
}

.button.flip {
    position:relative;
    border:none;
    color: transparent;
    background-color:transparent;
    transform-style: preserve-3d;
    cursor:pointer;
}

.button.flip.hug {
    display:inline-block;
}


.button.flip > .box {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transition:500ms;
}

.button.flip:hover > .box {
    transform: rotateX(-90deg);
}

.button.flip > .box > div {
    display:flex;
    align-items: center;
    justify-content: center;
    height:48px;
    padding:2px 24px 0;
    border:1px solid var(--primary);
    transform-style: preserve-3d;
}

/* .button.flip.hug > .box > div {
    display:inline-flex;
} */

.button.flip > .box > div:first-child {
    color: var(--primary);
    background-color:#222C;
    transform: translateZ(24px);
}

.button.flip > .box > div:last-child {
    position:absolute;
    width:100%;
    top:0;
    transform: rotateX(90deg) translateZ(24px);
    color: var(--gray-800);
    background-color:var(--primary);
}

.button.flip.secondary > .box > div {border-color: var(--gray-100);}
.button.flip.secondary > .box > div:first-child {color: var(--gray-100);}
.button.flip.secondary > .box > div:last-child {background-color:var(--gray-100);}


.button.flip.buy,
.button.flip.buy > .box > div {
    height:100px;
    width:100px;
    transition: width 500ms;
}

.button.flip.buy {
    overflow:hidden;
}

.button.flip.buy.out {
    width:0px;
}

.button.flip.buy > .box {
    transform: rotateY(0deg);
}

.button.flip.buy:hover {
    position:relative;
    z-index:1;
}

.button.flip.buy.active {
    pointer-events: none;
}

.button.flip.buy:hover > .box,
.button.flip.buy.active > .box {
    transform: rotateY(-90deg);
}

.button.flip.buy > .box > div {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    line-height: 0;
    cursor:pointer;
}

.button.flip.buy > .box > div:first-child {
    color: var(--primary);
    background-color:#222;
    transform: translateZ(50px);
}

.button.flip.buy > .box > div:last-child {
    position:absolute;
    width:100%;
    top:0;
    transform: rotateY(90deg) translateZ(50px);
    color: var(--gray-800);
    background-color:var(--primary);
}

/* STEAM */
.button.flip.steam > .box > div:first-child {
    color: #FFF;
    background-color:#66C0F4;
    border-color:#66C0F4;
}

/* PLAYSTATION */
.button.flip.ps  > .box > div:first-child {
    color: #FFF;
    background-color:#006FCD;
    border-color:#006FCD;
}

/* XBOX */
.button.flip.xbox  > .box > div:first-child {
    color: #FFF;
    background-color:#107C10;
    border-color:#107C10;
}


.button.buy {
    height:100%;
    transition:1000ms;
}

.button.buy a {
    display:inline-flex;
    align-items: center;
    height:100%;
    padding-right:64px;
    padding-left:32px;
    border-top-right-radius: 128px;
    border-bottom-right-radius: 128px;
    border:none;
    font-size: 1.6em;
}

.button.buy.inactive a {
    background-color:var(--gray-400);
    color:var(--gray-600);
    pointer-events: none;
}

.button.buy a:hover {
    padding-left:128px;
    background-color:var(--primary);
}




/* STICKY BAR */
.buybar {
    height:50px;
    background-color:#222C; 
}

.buybar .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:50px;
    background-color: #000D;
    z-index:9;
    transition:500ms;
}

.buybar.sticky .container{
    position:fixed;
    top:50px;
    transform: translateY(-50px);
}

.buybar.secondary .container {
    transform: translateY(0);
}

.buybar .button {
    height:100%;
}

.buybar .button a {
    width:120px;
    height:100%;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}



/* SOCIAL ICONS */
.social {
    display:flex;
    justify-content: space-between;
    gap:16px;
    padding:0 32px;
}

.social .soc {
    cursor:pointer;
}

.social .soc a {
    width:24px;
    height:24px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-100);
    color:var(--gray-900);
    font-size:12px;
    text-decoration: none;
    border-radius: 100%;
    transition:500ms;
}

.social .soc a:hover {
    background-color:var(--primary);
    transform: scale(1.5);
}

.buybar.social {
    padding:0 24px;
}




/* ICON DIVIDER ************************/
.divider {
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.divider.absolute {
    position:absolute;
    bottom:-12px;
    z-index:8;
    width:100%;
}

.divider.bubble {
    gap:0;
}

.divider .icon {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
}


.divider.bubble .icon {
    width:32px;
    height:32px;
    border-radius: 100%;
    background-color:var(--gray-100);
    color:var(--gray-800);
    font-size:16px;
}

.divider.large .icon {
    font-size:24px;
}

.divider.large.bubble .icon{
    width:48px;
    height:48px;

}

.divider.small .icon {
    font-size:16px;
}

.divider .label {
    font-family: 'Cinzel',serif;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight:600;
}

.divider > div:first-child, .divider > div:last-child {
    display: block;
    width:100%;
    height:1px;
}

.divider > div > div {
    width:100%;
    height:1px;
}

.divider > div:first-child {
    display: flex;
    justify-content: right;
}

.divider > div:first-child > div {background-image:linear-gradient(to left, #FFF, #FFF0)}
.divider > div:last-child > div {background-image:linear-gradient(to right,#FFF, #FFF0)}


.divider.left {
    grid-template-columns: auto 1fr;
}

.divider.left > div:first-child {
    display:none;
}

.divider.right {
    grid-template-columns: 1fr auto;
}

.divider.right > div:last-child {
    display:none;
}



/* LABEL */
.labels .label, .labels .sublabel {
    white-space: nowrap;
    transition:transform 1000ms;
}

.labels .label h2,
.labels .sublabel h3,
.labels .sublabel h4 {
    padding:0 160px 0 48px;
    transition:1000ms;
    opacity:1;
}

.labels .label .bubble + h2 {
    padding-left:64px;
}

.labels .label h3,
.labels .label h4 {
    padding-right:48px;
}

.labels .label.out,
.labels .label.out .sublabel {
    transform: translateX(110%);
}

.labels .label h2.out,
.labels .label.out h2 {
    transform: translateX(25%);
    opacity:0;
}

.labels .label.out .sublabel h3,
.labels .label.out .sublabel h4 {
    transform: translateX(25%);
    opacity:0;
}

.labels .label ul {
    list-style: none;
}

.labels .label li {
    padding-top:32px;
}



/* BLOG POSTS ************************/
.blog-post {
    background-color:var(--gray-600);
    border:1px solid var(--gray-100);
}

.blog-post .header {
    position:relative;
    height:250px;
}

.blog-post .header img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.blog-post .header .label {
    position:absolute;
    width:100%;
    height:auto;
    top:0;
    padding:16px 16px 64px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    background-image:linear-gradient(to bottom, #000C 20%, #0000);
}

.blog-post .body {
    padding:32px 0 0;
}

.blog-post .body .divider .icon {
    font-size:12px;
}

.blog-post .body .article {
    padding:32px;
}

.blog-post .body .article p {
    position:relative;
    overflow:hidden;
    height:7.6em;
}

.blog-post .body .article p::after {
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:32px;
    text-align:right;
    background-image:linear-gradient(to top,var(--gray-600) 30%,transparent);
    font-size:24px;
    padding-top:16px;
}

.blog-post .button-container {
    border-top:1px solid var(--gray-100);
}

.blog-post .button.flip > .box > div {
    border-color:transparent;
}




/* CONTENT BOXES */
.content-box {
    position:relative;
    min-width:280px;
    border:1px solid var(--gray-100);
    background-color:var(--gray-700);
    box-shadow: 2px 2px 4px #0006;
    overflow: hidden;
}

.content-box .image {
    width:640px;
    height:360px;
    position:relative;
}

.content-box.small .image {
    width:320px;
    height:180px;
}

.content-box.vertical.small .image {
    width:280px;
    height:360px;
}

.content-box.large .image {
    width:100%;
    height:auto;
}

.content-box img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.content-box .image.link {
    cursor:pointer;
}

.content-box .image .overlay {
    background-color:#0009;
    opacity:0;
    transition:500ms;
}

.content-box .image .overlay:hover {
    opacity:1;
}

.content-box .image .overlay.icon i {
    font-size:3em;
}

#purchase .content-box .button-container {
    border-top:1px solid var(--primary);
}

.content-box .button-container {
    border-top:1px solid var(--gray-100);
}

.content-box .button.flip > .box > div {
    border-color:transparent;
}



/* TABS  ****************************************************/
.tabs {
    height:100%;
    overflow:hidden;
    display:grid;
    grid-template-rows: auto 1fr;
}
/* MENU */
.tabs .menu {
    display:grid;
    grid-template-columns: 128px auto 1fr   ;
    align-items: center;
    transition:500ms;
}

.tabs .menu * {transition:500ms;}

.tabs .menu > div {
    height:1px;
    background-color:var(--gray-500);
}

.tabs .menu > div:first-child {width:128px;}
.tabs .menu > div:last-child {width:100%;}

.tabs .menu ul {
    display:flex;
    list-style: none;
    align-items: center;
}

.tabs .menu ul li {
    display:grid;
    grid-template-columns: 48px auto;
    align-items: center;
    overflow:hidden;
    color:var(--gray-800);
    cursor:pointer;
    background-color:var(--gray-400);
    border-radius: 32px;
    font-family: 'Cinzel',serif;
    font-weight:700;
    line-height:1;
}

.tabs .menu ul li i {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
}


/* SIZING */
.tabs .menu ul li {grid-template-columns: 48px auto;}

.tabs .menu ul li,
.tabs .menu ul li i {
    width:48px;
    height:48px;
    font-size:24px;
}

.tabs .menu ul li div {
    font-size:16px;
}



.tabs .menu ul li div {
    padding-right:16px;
    padding-top:2px;
}

.tabs .menu ul li.active {
    background-color:var(--primary);
    pointer-events: none;
}

.tabs .menu ul li:hover {
    background-color:var(--gray-100);
}

.tabs > .container {
    display:flex;
    justify-content: center;
    padding:32px 128px 0;
    height:100%;
    overflow:hidden;
}

.tabs > .container .tab-content {
    height:100%;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    overflow-y:auto;
    padding-bottom:32px;
    max-width:900px;
    transition:500ms;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

.tabs > .container .tab-content > div {
    height: 100%;   
}
.tabs > .container .tab-content > div > div {
    padding-top:4px;
    padding-bottom:32px;
}

.tabs > .container .tab-content.out {
    transform:translateX(100px);
    opacity: 0;
}

.tabs > .container .tab-content p {
    font-size:1.2em;
}

.tabs > .container .specs > div {
    display:grid;
    gap:32px;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom:1px solid var(--gray-400);
    padding:16px;
}

.tabs > .container .specs > div > div {
    text-align: right;
}

.tabs > .container .specs > div:last-child {
    border:none;
}

.tabs > .container .overview p {
    font-family:'Montserrat', sans-serif;
    font-size:0.9em;
    font-weight:500;
}
.tabs > .container .specs > div > div,
.tabs > .container .requirements > div > div {
    font-family:'Montserrat', sans-serif;
    font-size:0.8em;
    font-weight:500;
    text-align: right;
}







/* DUAL PANEL **********************************************/
.dual-panel {
    display:grid;
    grid-template-columns:300px 1fr;
    width:100%;
    height:100%;
}

.dual-panel > div,
.dual-panel > div > div {
    width:100%;
    height:100%;
    transition:1000ms;
}


/* LEFT PANEL ***********************************/

.dual-panel .panel-left {
    display:grid;
    grid-template-rows:1fr auto auto;
    gap:32px;
    padding-top:128px;
    background-color:#000C;
    border-right:1px solid var(--gray-500);
}

.dual-panel .panel-left .container {
    display:grid;
    grid-template-rows: auto 1fr auto;
    gap:32px;
    padding:0 32px;
}


/* SPECIFIC STYLES */
.dual-panel .panel-left .addons {
    padding-right:32px;
}

.dual-panel .panel-left .desc {
    
}

.dual-panel .panel-left .divider {
}

.dual-panel .panel-left .opts {
    display:flex;
    overflow:hidden;
    height:100px;
}


/* RIGHT PANEL ****************/
.dual-panel .panel-right {

}

.dual-panel .panel-right > .container {
    display:grid;
    grid-template-rows:1fr 100px;
    height:100%;
    padding-top:64px;
}

.dual-panel .panel-right > .container.out {
    transform:translateX(100%);
}


/* PRODUCT SECTION */
.product .dual-panel .panel-left {
    border:none;
}

.product .dual-panel .panel-right > .container {
    border-left:2px solid var(--primary);
}

.dual-panel .purchase {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0006;
}

.dual-panel .purchase .add {
    display:flex;
    align-items: center;
    height:100%;
    transition:1000ms;
}

.dual-panel .purchase .add.out {
    transform:translateX(-100%);
}

.dual-panel .purchase .price {
    display:flex;
    font-size:3em;
    padding: 0 0 8px 32px;
    font-family: 'Cinzel', serif;
    
}

.dual-panel .purchase .price::before {
    content:'$';
    font-size:0.5em;
    transform: translateY(8px);
}
.dual-panel .purchase .price::after {
    content:'99';
    font-size:0.5em;
    transform: translateY(8px);
    text-decoration: underline;
}

.dual-panel .purchase .rating {
    display:flex;
    height:80%;
    background-color:#FFF;
    padding:4px;
}

.dual-panel .purchase .rating .logo,
.dual-panel .purchase .rating .logo img {
    height:100%;
}

.dual-panel .purchase .rating .for {
    display:flex;
    align-items: center;
    padding:0 16px;
    color:var(--gray-700);
    font-family: 'Montserrat',sans-serif;
    font-size:0.8em;
}
.dual-panel .purchase .rating .for ul {
    display:grid;
    gap:4px;
    list-style: none;
}




/* CUSTOM SCROLLBAR **************************************/
*::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--gray-700);
    border: 3px solid #000;
    border-radius: 8px;
}

*::-webkit-scrollbar-button {
    display:none;
}

*::-webkit-scrollbar-thumb {
    background-color:var(--gray-500);
    border-radius: 8px;
    border: 3px solid #000;
    transition:500ms;
}

*::-webkit-scrollbar-thumb:hover {
    background-color:#fff;
    border: 3px solid transparent;
}

