
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* MAIN *******************************/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    font-size: 16px;
    font-weight:400;
    color:#e2e2e2;
    background-color: var(--gray-900);
    scroll-behavior: smooth;
}

:root {

    --primary: #FFCD1E;

    --gray-000: #FFF;
    --gray-100: #E2E2E2;
    --gray-200: #D1D1D1;
    --gray-400: #999;
    --gray-500: #666;
    --gray-600: #444;
    --gray-700: #333;
    --gray-800: #222;
    --gray-900: #000;

}

img { width:100%; }


/* TEXT *******************************/

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
    font-family: 'Cinzel', serif;
    font-weight:400;
}


h1 {font-size:2.4em;}
h2 {font-size:2em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1em;}

.primary {color:var(--primary);}

p {
    line-height:1.6em;
}

h1 + p,
h2 + p,
h3 + p,
p + p {
    margin-top:24px;
}

.bullets {
    list-style: circle;
    font-size:1.2em;
}

.bullets li + li {
    margin-top:16px;
}

.legal {
    font-size:0.8em;
    font-family:'Montserrat', sans-serif;
    color:var(--gray-400);
}



/* STRUCTURE *******************************/

section {
    width:100%;
    height:100vh;
    background-size: cover;
    position:relative;
}

section .content,
.section .content {
    width:100%;
    height:100%;
    padding:128px;
    display:flex;
    gap:32px;
}

.limited {
    max-width:1200px;
}

.content.column {flex-direction: column;}

.content.left {justify-content: left;}
.content.center {justify-content: center;}
.content.right {justify-content: right;}

.content.top, .content.column.bottom {align-items: flex-start;}
.content.middle, .content.column.center {align-items: center;}
.content.bottom {align-items: flex-end;}

.cols {
    display:grid;
}

.cols.half {grid-template-columns: 1fr 1fr;}
.cols.third-right {grid-template-columns: 2fr 1fr;}
.cols.third-left {grid-template-columns: 1fr 2fr;}
.cols.quarter-right {grid-template-columns: 3fr 1fr;}
.cols.quarter-left {grid-template-columns: 1fr 3fr;}


.cols > div:first-child {padding-right:64px;}
.cols > div:last-child {padding-left:64px;}

.cols.divide > div:last-child {border-left:1px solid var(--gray-200);}

/* OVERLAYS */

.overlay {
    width:100%;
    height:100%;
}

.overlay.full {background-color:#0009;}
.overlay.top {background-image:linear-gradient(to bottom, #000C 20%, #0000 50%);}
.overlay.bottom {background-image:linear-gradient(to top, #000C 20%, #0000 50%);}
.overlay.left {background-image:linear-gradient(to right, #000C 20%, #0000 60%);}
.overlay.right {background-image:linear-gradient(to left, #000C 20%, #0000 60%);}
.overlay.fixed {background-attachment: fixed;}

.absolute {position:absolute;}
.overflow {overflow:hidden;}

section.moveable-bg {
    overflow: hidden;
}

.moveable-bg .background {
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
}



/* NAVIGATION *******************************/

nav {
    position:fixed;
    top:0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width:100%;
    height:50px;
    background-color:#000C;
    font-size:0.9em;
    font-family: 'Cinzel', serif;
    font-weight:700;
    z-index:10;
    user-select: none;
    transition:500ms;
}

nav.hidden {
    top:-50px;
}

nav > div {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    padding:0 32px;
    transition: 500ms;
}

nav > div.logo img {
    width:auto;
    height:24px;
}

nav > ul {
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
}

nav > ul li a {
    display:flex;
    align-items: center;
    height:100%;
    padding:0 32px;
    transition:500ms;
    cursor:pointer;
    color: var(--gray-100);
    text-decoration: none;
}

nav > ul li.active a {
    background-color: var(--gray-100);
    color: var(--gray-900);
    pointer-events: none;
}

nav > ul li a:hover {
    background-color: var(--primary);
    color: var(--gray-900);
}

nav .login {
    width:120px;
    color: var(--primary);
    cursor: pointer;
}

nav .login:hover {
    background-color: var(--primary);
    color: var(--gray-900);
}


/* FOOTER ***********************/
footer {
    padding:64px 128px;
}

footer .limited {
    max-width:900px;
    margin: 0 auto;
}

footer .logos > div  {
    width:120px;
    height:32px;
}

footer .content {
    display:flex;
    flex-direction: column;
    gap: 32px;
    width:100%;
}

footer .social {
    padding-top:32px;
    justify-content: center;
}

footer .social .soc a {
    width:48px;
    height:48px;
    font-size:1.2em;
}

footer .legal {
    text-align: center;
}




/* CTA ***********************/
.cta {
    display:grid;
    gap:16px;
}

/* LOGO LOCKUP *****************/
.logos {
    display:flex;
    justify-content: space-between;
    gap:16px;
}

.logos > div {
    width:auto;
    height:24px;
}

.logos img {
    object-fit: contain;
    width:100%;
    height:100%;
}

.cta .logos > div:nth-child(2) {
    padding:4px;
}


/* TEXT LOCKUPS **********************/
.text-lockup {
    display:grid;
    gap:16px;
}

.text-lockup.center {text-align: center;}
.text-lockup.right {text-align: right;}

.text-lockup.half {
    width:50%;
}

.text-lockup .text {
    display:table;
    width:1%;
    margin:auto; 
}

.text-lockup .text.unlock {
    display:block;
    width:auto;
    margin:auto; 
}

.text-lockup .text p {
    font-size:20px;
}

.text-lockup .text > h1 {
    white-space: nowrap;
}

.text-lockup .text > p {
    margin-top:16px;
}

.text-lockup.left .text {padding:0 64px;}


/* TEXT LOCKUP INTRO ANIMATIONS */
/* REMOVE .out from .text-lockup */
.text-lockup .divider .icon, 
.text-lockup .divider > div > div,
.text-lockup h1,
.text-lockup p,
.text-lockup .button-container {
    transition:1000ms;
}

.text-lockup .divider > div > div {
    transition-delay: 500ms;
}

.text-lockup h1 {
    transition-delay: 500ms;
}
.text-lockup p {
    transition-delay: 1000ms;
}

.text-lockup .button-container {
    transition-delay: 2000ms;
}

.text-lockup.out .divider .icon {
    transform: translateY(-100px) scale(3);
    opacity: 0;
}

.text-lockup.out .divider > div > div {
    width:0%;
} 

.text-lockup.out h1, .text-lockup.out p {
    transform: translateY(50px);
    opacity:0;
}

.text-lockup.out .button-container {
    transform: translateY(50px);
    opacity:0;
}
