
section {
    background-attachment: fixed;
}

.section {
    background-size:cover;
}

/* HERO */

#hero {
    display:grid;
    grid-template-rows: 1fr auto;
    background-image:url(../images/home-hero.jpg);
}

#hero .overlay {
    display:flex;
    align-items: flex-end;
    background-attachment: scroll;
}

#hero > .overlay > .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:32px 128px;
}

#hero .logo {
    width:40%;
}




/* STORY SECTIONS ******************************/

#across {
    background-image:url(../images/home-across.jpg);
}

#journey {
    background-image:url(../images/home-journey.jpg);
    background-position: center bottom;
}

#shadows {
    background-image:url(../images/home-shadows.jpg);
    background-position: 80% 50%;
}

#fantasy {
    background-image:url(../images/home-fantasy.jpg);
}


/* TALE */
#passed {
    background-image:url(../images/tale-passed.jpg);
}

#newlife {
    background-image:url(../images/tale-newlife.jpg);
}

#awaken {
    background-image:url(../images/tale-awaken.jpg);
    background-position:50% 100%;
}

#allies {
    background-image:url(../images/tale-allies.jpg);
    background-position:50% 100%;
}

#begin {
    background-image:url(../images/tale-begin.jpg);
    background-position:50% 100%;
}



/* Videos */
#videos {
    background-image:url(../images/videos.jpg);
    background-position: left center;
}



/* BUY PAGE **********************************************/
#requiem {
    background-image:url(../images/home-hero.jpg);
}

#collector {
    background-image:url(../images/purchase-collector.jpg);
}

#collector .logo h4 {
    color:var(--gray-800);
    background-image:linear-gradient(to right, transparent, var(--primary) 20%, var(--primary) 80%, transparent);
    text-align:center;
    padding:2px 0;
}

#collector .tabs > .container .tab-content:first-child {
    max-width:100%;
}

#collector .overview {
    
}




/* PURCHASE FOOTER SECTION */
#purchase {
    background-image:url(../images/purchase.jpg);
    background-position: center bottom;
}
